---
layout: base.njk
pagination:
    data: cards
    size: 1
    alias: card
permalink: "cards/{{ card.name | slug }}/"
---

<img alt="{{ card.name }}" src="{{ card.image }}">
<h1>{{ card.name }} är en {{ card.rarity }} {{ card.cost }} cost {{ card.type }}.</h1>
<h5>{{ card.set }}</h5>
<h2>{{ card.effekt }}</h2>