---
layout: base.njk
pagination:
    data: Cards
    size: 1
    alias: Card
permalink: "Cards/{{ Card.name | slug }}/"
---

<img alt="{{ possum.name }}" src="https://robohash.org/{{ possum.name | slug }}?size=300x300">

<h1>{{ Cards.name }} är en {{ Cards.card type }}</h1>